<link href="https://fonts.googleapis.com/css2?family=Roboto:wght" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Signika:wght" rel="stylesheet">
<table width="100%" ; style="font-family: 'Roboto', sans-serif; font-size: 1.1em; background-color: whitesmoke;" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td width="100%" align="center">
                <table width="550px" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 10px;">
                    <tbody>
                        <tr>
                            <td>
                                <table width="550px" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div style="font-size: 42px; color: #4b69b0; font-family: 'Signika', sans-serif; font-weight: 700; margin: 15px 0px 15px 0px; text-align: center;">
                                                    ChatTogether
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="background-color: #4b69b0; border-radius: 20px 20px 0px 0px; padding: 25px; font-size: 1.4em; color: white;">
                                                    Prośba o zmiane adresu email
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="550px" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr style="background-color: white; color: #4d4d4d;">
                                            <td style="padding: 25px;">
                                                <p style="text-decoration: unset; font-weight: bold; margin: 0px; font-size: 1.2em;">Cześć {{email}}!</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="550px" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr style="background-color: white; color: #4d4d4d;">
                                            <td style="padding: 0px 25px 0px 25px;">
                                                Aby dokonać zmiany adresu email, kliknij w poniższy przycisk.<br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="550px" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr style="background-color: white; color: #4d4d4d;">
                                            <td style="display: inline-block; background-color: whitesmoke; padding: 15px; border-radius: 25px; margin: 20px 25px 0px 25px;">
                                                <div style="text-align: center;">
                                                    <a style="display: inline-block; padding: 10px 0px 10px 0px; border: unset; border-radius: 5px; background-color: #4b69b0; color: white; text-decoration: none; width: 180px; text-align: center;"
                                                       href="{{confirmationLink}}">Zmień adres email</a>
                                                </div>
                                                <p>Jeśli przycisk nie działa, skopiuj i wklej poniższy link w nowym oknie przeglądarki.</p>
                                                <div style="width: 470px;">
                                                    {{confirmationLink}}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="550px" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr style="background-color: white; color: #4d4d4d;">
                                            <td style="padding: 25px 25px 0px 25px;">
                                                Jeżeli nie chciałeś/aś zmienić adresu email, to możesz zignorować tę wiadomość.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="550px" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td style="background-color: white; color: #4d4d4d; border-radius: 0px 0px 20px 20px; height: 25px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>